<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addPetServlet</servlet-name>
        <servlet-class>vetclinic.addPetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet</servlet-name>
        <servlet-class>servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRegisterServlet</servlet-name>
        <servlet-class>Customer.CustomerRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>vetclinic.CustomerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateAccount</servlet-name>
        <servlet-class>Customer.ActivateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLoginServlet</servlet-name>
        <servlet-class>Customer.CustomerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>Admin.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <servlet-class>Admin.AdminLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPetImageServlet</servlet-name>
        <servlet-class>Admin.GetPetImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>Admin.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <servlet-class>Admin.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <servlet-class>Admin.UpdateCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMedicineServlet</servlet-name>
        <servlet-class>Admin.AddMedicineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMedicineServlet</servlet-name>
        <servlet-class>Admin.UpdateMedicineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMedicineServlet</servlet-name>
        <servlet-class>Admin.DeleteMedicineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPetServlet</servlet-name>
        <servlet-class>Admin.AddPetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePetServlet</servlet-name>
        <servlet-class>Admin.DeletePetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaffServlet</servlet-name>
        <servlet-class>Admin.AddStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <servlet-class>Admin.UpdateStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <servlet-class>Admin.DeleteStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVetServlet</servlet-name>
        <servlet-class>Admin.AddVetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateVetServlet</servlet-name>
        <servlet-class>Admin.UpdateVetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteVetServlet</servlet-name>
        <servlet-class>Admin.DeleteVetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLogoutServlet</servlet-name>
        <servlet-class>Customer.CustomerLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerAddPetServlet</servlet-name>
        <servlet-class>Customer.CustomerAddPetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerMakeAppointmentServlet</servlet-name>
        <servlet-class>Customer.CustomerMakeAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Testing</servlet-name>
        <servlet-class>vetclinic.Testing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>vetclinic.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VetLoginServlet</servlet-name>
        <servlet-class>Veterinarian.VetLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveAppointmentServlet</servlet-name>
        <servlet-class>Veterinarian.ApproveAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeclineAppointmentServlet</servlet-name>
        <servlet-class>Veterinarian.DeclineAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VetLougoutServlet</servlet-name>
        <servlet-class>Veterinarian.VetLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VetLogoutServlet</servlet-name>
        <servlet-class>Veterinarian.VetLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSlotServlet</servlet-name>
        <servlet-class>vetclinic.GetSlotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillInfoServlet</servlet-name>
        <servlet-class>Customer.FillInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addPetServlet</servlet-name>
        <url-pattern>/addPetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRegisterServlet</servlet-name>
        <url-pattern>/CustomerRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateAccount</servlet-name>
        <url-pattern>/ActivateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLoginServlet</servlet-name>
        <url-pattern>/CustomerLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <url-pattern>/AdminLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPetImageServlet</servlet-name>
        <url-pattern>/GetPetImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/AddCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <url-pattern>/DeleteCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <url-pattern>/UpdateCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMedicineServlet</servlet-name>
        <url-pattern>/AddMedicineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMedicineServlet</servlet-name>
        <url-pattern>/UpdateMedicineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMedicineServlet</servlet-name>
        <url-pattern>/DeleteMedicineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPetServlet</servlet-name>
        <url-pattern>/AddPetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePetServlet</servlet-name>
        <url-pattern>/DeletePetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffServlet</servlet-name>
        <url-pattern>/AddStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <url-pattern>/UpdateStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <url-pattern>/DeleteStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVetServlet</servlet-name>
        <url-pattern>/AddVetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateVetServlet</servlet-name>
        <url-pattern>/UpdateVetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteVetServlet</servlet-name>
        <url-pattern>/DeleteVetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLogoutServlet</servlet-name>
        <url-pattern>/CustomerLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerAddPetServlet</servlet-name>
        <url-pattern>/CustomerAddPetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerMakeAppointmentServlet</servlet-name>
        <url-pattern>/CustomerMakeAppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Testing</servlet-name>
        <url-pattern>/Testing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VetLoginServlet</servlet-name>
        <url-pattern>/VetLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveAppointmentServlet</servlet-name>
        <url-pattern>/ApproveAppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeclineAppointmentServlet</servlet-name>
        <url-pattern>/DeclineAppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VetLougoutServlet</servlet-name>
        <url-pattern>/VetLougoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VetLogoutServlet</servlet-name>
        <url-pattern>/VetLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSlotServlet</servlet-name>
        <url-pattern>/GetSlotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillInfoServlet</servlet-name>
        <url-pattern>/FillInfoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
